<body style="background-color: darkslategrey;">

</body>
<main class="container mt-5">
    <div id="rowProducts" class="row d-flex justify-content-center">    
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>