<main>
  <section class="registerSection">
    <div class="registerDiv">
      <span class="logo"></span>
      <h1 class="registerTitle">Register</h1>
      <form class="registerForm" id="registerForm">
        <span></span>
        <label>Nombre</label>
        <input type="text" name="firstName" />
        <label>Apellido</label>
        <input type="text" name="lastName" />
        <label>Correo electrónico</label>
        <input type="email" name="email" />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <button class="registerButton">Register</button>
      </form>
    </div>
  </section>
</main>

<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>